body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  text-align: center;
}


.sidenav {
  background-color: black;
}

.sidenav li>a {
  color: white;
}

.parallax-container {
  background-size: 25%;
  height: 730px;
}

.parallax-title {
  margin-top: 100px;
}

.page-footer {
  padding-top: 0px;
  text-align: center;
  padding: 10px;
}
